<!DOCTYPE html>
<html>
<head>
<title>Create Placement Drive</title>
</head>

<body>

<h2>Create Placement Drive</h2>

<form method="POST">

Job Title<br>
<input type="text" name="job_title"><br><br>

Company Name<br>
<input type="text" name="company_name"><br><br>

Description<br>
<textarea name="description"></textarea><br><br>

Eligibility<br>
<input type="text" name="eligibility"><br><br>

Deadline<br>
<input type="text" name="deadline"><br><br>

<button type="submit">Create Drive</button>

</form>

</body>
</html>